@tailwind base;
@tailwind components;
@tailwind utilities;

/* Utilities */
.active.red {
    border-color: #E3350D;
}

.active.yellow {
    border-color: #E6BC2F;
}

.active.green {
    border-color: #4DAD5B;
}

.drag {
    -webkit-user-drag: none;
}

/* Main - Layout */
main {
    height: calc(100vh - 80px);
    overflow: auto;
}

@layer base{
    html {
        font-family: "Varela Round", sans-serif;
    }
}